include includes/head
header
  .label-info
    .container
      .pull-right
        img.img-circle(src='http://static.ultimatetct.com/img/intro.png')
      .row
        .col-cs-12
          h1.hidden-xs.hidden-sm Ultimate Tic-Tac-Toe
          h2.hidden-md.hidden-lg Ultimate Tic-Tac-Toe
          h2.hidden-xs.hidden-sm When Tic-Tac-Toe just isn't enough...
          h2.hidden-ms.hidden-lg When Tic-Tac-Toe just isn't enough...
          p
            a.btn.btn-primary(href='./play') play now
            a.btn.btn-success(href='https://github.com/nhenezi/ultimatetct.com') view on Github

section
  .container.help-block
     .text-center
      .row
        img.col-md-2.img-circle(src='http://static.ultimatetct.com/img/board.png')
        .col-md-8
          h2.align-left What is Ultimate Tic-Tac-Toe?
          p
            |When you overgrow the tic tac toe game it is time to try out something more complex and exciting.
            |Ultimate Tic-Tac-Toe is a 2 player board game similar to Tic-Tac-Toe.
            |You are playing 10 Tic-Tac-Toe game simultaneously on one 9x9 board!
      .row
        .col-md-8.col-md-offset-2
          h2.align-right How do I win?
          p
            |Main goal is to win on the major (big) 3x3 board, by winning minor boards as you used
            |to in standard version of tic tac toe. To win a single major (big) board, you have to
            |win a minor board.

        img.col-md-2(src='http://static.ultimatetct.com/img/win.png')
      .row
        img.col-md-2(src='http://static.ultimatetct.com/img/force_move.png')
        .col-md-8
          h2.align-left How do I win on minor boards?
          p
            | Rules on minor boards are similar to standard Tic-Tac-Toe with one twist:
            | When you play on a minor board, your opponent is forced to play on that major board.
            | It adds a whole new dimension!
            | Take a look at the picture on left, You have first move and you decided to play in center board,
            | top-right corner. So you place O there. Your oponnent is forced to play on top-right major board.
      .row
        .col-md-8.col-md-offset-2
          h2.align-right What if I force opponent on already won/tied field?
          p
            | There are couple variations of Ultimate Tic-Tac-Toe and rules can differ.
            | We use a rule which allows you to to have no restrictions on next move, i.e. you can
            | place it on any empty field!
        img.col-md-2(src='http://static.ultimatetct.com/img/no_restrictions.png')
      .row
        img.col-md-2(src='http://static.ultimatetct.com/img/GitHub-Mark-120px-plus.png')
        .col-md-8
          h2.align-left Still confused? Found Bugs?
            p
              | Please
              a(href='http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/')  read detailed ruleset. 
              | If you find any bugs please open a
              a(href='https://github.com/nhenezi/ultimatetct.com/issues/new')  new issue 
              | on Github.




              
        
include includes/footer