include includes/head
.container(style='text-align:center')
  canvas#main(width='600px', height='600px')
    p Your browser does not support canvas,
      a(href='http://www.mozilla.org/firefox') get Mozilla Firefox
script(type='text/javascript' src='http://static.ultimatetct.com/js/fabric.js')
script(type='text/javascript' src='http://ultimatetct.com:7076/socket.io/socket.io.js')
script(type='text/javascript' src='http://static.ultimatetct.com/js/board.js')
include includes/footer
