include includes/head
.container(style='text-align:center')
  canvas#main(width='600px', height='600px')
    p Your browser does not support canvas,
      a(href='http://www.mozilla.org/firefox') get Mozilla Firefox
include includes/footer
