script(type='text/javascript' src='http://static.ultimatetct.com/js/fabric.js')
script(type='text/javascript' src='http://comhost:7076/socket.io/socket.io.js')
script(type='text/javascript' src='http://static.ultimatetct.com/js/board.js')
