doctype html
// This file is generated from jade templates. If you are looking for source go to https://github.com/nhenezi/ultimatetct.com/
html
  head
    meta(charset='utf-8', lang='en-us')
    title Ultimate Tic-Tac-Toe
    link(rel='stylesheet', href='http://static.ultimatetct.com/css/bootstrap.css')
    link(rel='stylesheet', href='http://static.ultimatetct.com/css/style.css')
    link(rel='stylesheet', href='http://static.ultimatetct.com/css/prism.css')


  body
    a(href="https://github.com/nhenezi/ultimatetct.com")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://github-camo.global.ssl.fastly.net/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png")
    header
      .container
        .row
          .col-md-12
            nav.navbar.navbar-default(role='navigation')
               .navbar-header
                 a.navbar-brand(href='/') Ultimate Tic-Tac-Toe
               .navbar-right
                 ul.nav.navbar-nav
                   li
                     a(href='/') home
                   li
                     a(href='/play') play
                   li
                     a(href='/make-your-own-bot') Make your own bot


