doctype html
// This file is generated from jade templates. If you are looking for source go to https://github.com/nhenezi/ultimatetct.com/
html
  head
    meta(charset='utf-8', lang='en-us')
    title Ultimate Tic-Tac-Toe
    link(rel='stylesheet', href='http://static.ultimatetct.com/css/bootstrap.css')
    link(rel='stylesheet', href='http://static.ultimatetct.com/css/style.css')


  body
    header
      .container
        .row
          .col-md-12
            nav.navbar.navbar-default(role='navigation')
               .navbar-header
                 a.navbar-brand(href='/') Ultimate Tic-Tac-Toe
               .navbar-right
                 ul.nav.navbar-nav
                   li
                     a(href='/') home
                   li
                     a(href='/play') play
                   li
                     a(href='/about') about


